/bower_components
/node_modules
/storage/*.key
/vendor
/.idea
composer.lock
package-lock.json
Homestead.json
Homestead.yaml
.env
.env.bak
.phpunit.result.cache
*.mp3
.DS_Store
artisan_serve.log
/storage/*
/public/images
/public/media
/public/scripts
/public/styles
/public/vendor
/public/hot
/storage/app/google-calendar/service-account-credentials.json
livestream.mp4
livestream2.mp4
livestream3.mp4
small.mp4
/public/sitemap.xml