/bower_components
/node_modules
/public/media
/public/images/meetings
/public/images/photos
/public/documents
/public/storage
/storage/*.key
/vendor
/.idea
composer.lock
package-lock.json
Homestead.json
Homestead.yaml
.env
*.mp3
.DS_Store
