parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property App\\Models\\LivestreamSegment\:\:\$avgRms\.$#'
			identifier: property.notFound
			count: 1
			path: app/Jobs/AnalyzeSegments.php

		-
			message: '#^Access to an undefined property App\\Models\\LivestreamSegment\:\:\$endTime\.$#'
			identifier: property.notFound
			count: 1
			path: app/Jobs/AnalyzeSegments.php

		-
			message: '#^Access to an undefined property App\\Models\\LivestreamSegment\:\:\$isSermonCandidate\.$#'
			identifier: property.notFound
			count: 1
			path: app/Jobs/AnalyzeSegments.php

		-
			message: '#^Access to an undefined property App\\Models\\LivestreamSegment\:\:\$peakRms\.$#'
			identifier: property.notFound
			count: 1
			path: app/Jobs/AnalyzeSegments.php

		-
			message: '#^Access to an undefined property App\\Models\\LivestreamSegment\:\:\$segmentOrder\.$#'
			identifier: property.notFound
			count: 2
			path: app/Jobs/AnalyzeSegments.php

		-
			message: '#^Access to an undefined property App\\Models\\LivestreamSegment\:\:\$startTime\.$#'
			identifier: property.notFound
			count: 1
			path: app/Jobs/AnalyzeSegments.php

		-
			message: '#^Method App\\Jobs\\AnalyzeSegments\:\:analyzeWithVisualGuidance\(\) should return array\<int, App\\Models\\LivestreamSegment\> but returns array\<App\\Data\\LivestreamSegment\>\.$#'
			identifier: return.type
			count: 1
			path: app/Jobs/AnalyzeSegments.php

		-
			message: '#^Method App\\Jobs\\AnalyzeSegments\:\:findSermonCandidate\(\) never returns App\\Data\\LivestreamSegment so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: app/Jobs/AnalyzeSegments.php

		-
			message: '#^Method App\\Jobs\\AnalyzeSegments\:\:findSermonCandidate\(\) should return App\\Data\\LivestreamSegment\|null but returns App\\Models\\LivestreamSegment\.$#'
			identifier: return.type
			count: 1
			path: app/Jobs/AnalyzeSegments.php

		-
			message: '#^Method App\\Jobs\\AnalyzeSegments\:\:getVisualClusters\(\) never returns array\<string, mixed\> so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: app/Jobs/AnalyzeSegments.php

		-
			message: '#^Method App\\Jobs\\AnalyzeSegments\:\:getVisualClusters\(\) should return array\<string, mixed\>\|null but returns array\<int, array\<string, mixed\>\>\|null\.$#'
			identifier: return.type
			count: 1
			path: app/Jobs/AnalyzeSegments.php

		-
			message: '#^Parameter \#1 \$num of function round expects float\|int, bool\|string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Jobs/ExtractAudioFromVideo.php

		-
			message: '#^Parameter \#1 \$num of function round expects float\|int, bool\|string given\.$#'
			identifier: argument.type
			count: 2
			path: app/Jobs/ExtractSermon.php

		-
			message: '#^Parameter \#2 \$songClusters of method App\\Jobs\\PerformVisualAnalysis\:\:storeVisualAnalysis\(\) expects array\<string, mixed\>, array\<int, array\<string, array\<int, float\>\|float\|int\>\> given\.$#'
			identifier: argument.type
			count: 2
			path: app/Jobs/PerformVisualAnalysis.php

		-
			message: '#^Method App\\Services\\VideoExtractionService\:\:extractOptimizedAudio\(\) should return array\<string, bool\|string\> but returns array\<string, bool\|float\|int\|string\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/VideoExtractionService.php

		-
			message: '#^Method App\\Services\\VideoExtractionService\:\:getProcessingOutputPath\(\) should return array\<string, string\> but returns array\<string, string\|false\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/VideoExtractionService.php

		-
			message: '#^Method App\\Services\\VideoExtractionService\:\:getProcessingOutputPath\(\) should return array\<string, string\> but returns array\<string, string\|true\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/VideoExtractionService.php

		-
			message: '#^Comparison operation "\>" between float and \(array\|float\|int\) results in an error\.$#'
			identifier: greater.invalid
			count: 1
			path: app/Services/VideoSegmentationService.php

		-
			message: '#^Call to function is_string\(\) with string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: app/Services/VideoStorageService.php

		-
			message: '#^Method App\\Services\\VideoStorageService\:\:extractOptimizedAudioFromSegment\(\) should return array\<string, string\> but returns array\<string, bool\|float\|int\|string\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/VideoStorageService.php
