.card-img-top {
  height: 20vh;
  object-fit: cover;
  filter: brightness(50%);
}

.card-img-caption {
  object-fit: cover;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

.card-img-caption .card-img-top {
  z-index: 0;
}

.card-img-caption .card-text {
  text-align: center;
  width: 100%;
  // margin: 33% 0;
  position: absolute;
  z-index: 1;

  div {
    border: 3px;
    max-width: 80%;
    border-style: solid;
    display: inline-block;
  }
}

article .card-img-caption .card-img-top {
  height: 20vh;
}

aside {
  .card-img-caption .card-img-top{
    height: 10vh;
  }

  .read-more {
    text-align: right;
    font-style: italic;
    padding-top: map-get($spacers, 1);
  }
}

.card-header-pull-right {
  float: right;
  font-size: floor($font-size-lg*1.2);

  .user-name {
    font-size: $font-size-base;
  }
}

.meeting-details {
  @include full-width-section;
  margin-top: map-get($spacers, 4);
  background-color: map-get($theme-colors, primary);
  color: $white;
  font-size: 2em;
  th {
    padding: map-get($spacers, 3) map-get($spacers, 3);
    vertical-align: top;
  }
}

.main-content {
  p {
    img {
      max-width: 100%;
      @media (min-width: ($grid-breakpoints, sm)) {
        max-width: 50.1%;
        float: left;
        padding: map-get($spacers, 4) map-get($spacers, 3) map-get($spacers, 4) 0;
      }
    }
  }
  p:nth-of-type(2n) img {
    @media (min-width: ($grid-breakpoints, sm)) {
      float: right;
      padding-left: map-get($spacers, 4);
      padding-right: 0;
    }
  }
}
