.document-container {
  margin-top: floor(map-get($spacers, 4) * 2);
  margin-bottom: map-get($spacers, 4);
  margin-left: -9.5238095%;
  width: 119.047619%;
  min-height: floor($line-height-base * 8);
  background-color: map-get($grays, 300)er;
}

.file {
  display: block;
  background-color: map-get($grays, 100);
  text-align: center;
}

.document-icon {
  height: 1.25em;
  font-size: 5em;
  color: map-get($theme-colors, dark);
}

.document-sub-container {
  margin-left: map-get($spacers, 3);
  margin-right: map-get($spacers, 3);
}
