footer {
  .list-group-item {
    background: none;
    border: none;
  }

  .card {
    // min-width: 31vw;
  }
}

.bg-pattern {
  background-image: url("/images/pattern-wide.png");
  background-size: cover;
}

// Warning: don't know why this works!
.full-width-card-deck {
  width: 100%;
}
