audio {
    width: 100%;
}

.panel-heading {
  font-size: 0.75em;
}

.sermon-details {
  @include full-width-section;
  background-color: map-get($theme-colors, secondary);
  color: white;
  font-size: $font-size-lg;
  a {
    color: inherit;
  }
}

.sermon-headings {
  padding-top: map-get($spacers, 1), ;
  >ol>li, >ul>li {
    padding-top: floor(map-get($spacers, 4)*2);
  }
}
