.praise_number {
  position: absolute;
  top: 55px;
  left: 65px;
  color: $gray-300;
  font-size: floor($font-size-lg*2);
}

.praise_number_song {
  top: 270px;
}

.song-unknown {
  background: map-get($grays, 300);

  h3.media-heading {
    color: map-get($grays, 800);
  }
}

.song-filters {
  @include full-width-section;
  background-color: map-get($theme-colors, secondary);
  color: white;
  font-size: $font-size-lg;
}

#pieLegend {
  color: white;
}
