.references {
    font-size: $font-size-base;
    font-style: italic;
    text-align: right;
}

header {
    font-family: $headings-font-family;
    text-transform: uppercase;

    .user-name {
      font-family: $font-family-sans-serif;
      text-transform: none;
    }
}

p a {
  text-decoration: underline;
}

p .btn {
  text-decoration: none;
}

div a.btn {
  text-decoration: none;
}

nav a.btn {
  text-decoration: none;
}
