@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'variables';
@import 'cbc/mixins';
@import 'cbc/cards';
@import 'cbc/header';
@import 'cbc/home';
@import 'cbc/footer';
@import 'cbc/pages';
@import 'cbc/sermons';
@import 'cbc/text';

@layer base {
    [x-cloak] {
        display: none !important;
    }
}

@font-face { 
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: 
    url(/fonts/oswald-regular.woff2) format("woff2"),
}

@font-face { 
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: 
    url(/fonts/lato-regular.woff2) format("woff2"),
}

@font-face { 
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: 
    url(/fonts/lato-italic.woff2) format("woff2"),
}

@font-face { 
  font-family: "Lato";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: 
    url(/fonts/lato-bold.woff2) format("woff2"),
}