footer {
    background-color: $brand-primary;
    color: $inverse-text-color;
    /margin-top: 50px;

    h4 {
        margin-bottom: 30px;
        font-style: italic;
    }

    section {
        padding: 20px;
    }

    a {
        color: $inverse-link-color;
    }
    
    a:hover {
        color: $inverse-link-color;
    }

}

.mark-icon {
    width: 125%;
    max-width: 100px;
}

.copyright {
    padding: 30px 15px 0px;
}
