.home {
    background-image: url(../images/church_blur.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.home-head {
    background-image: url(../images/church_blur.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    margin-top: -20px;

    .container {
        padding-top: 100px;
        color: #FFFFFF;

        p {
            padding-top: 40px;
            font-style: italic;
        }
    }

    h1 {
        font-size: $font-size-base*5;
        font-weight: 800;
    }
    
    .arrow {
        font-size: $font-size-base*5;
        
        a {
            color: $brand-lightest;
        }
    }
    

}

.home-body {

    background: $brand-lightest;

    .jump-destination {
        display: inline;
        margin-bottom: 0;
        padding: 0;
        height: 50px;
    }

    video {
        width: 100%;
        margin-bottom: $line-height-computed;
    }

    a {
        display: block;
        text-decoration: none;
        color: $gray-darker;
        background-color: $gray-lightest;
        margin: 2% 1%;
        padding: 30px;
        box-shadow: 1px 1px 4px $gray-light;
        
        &:hover {
            background-color: $gray-lighter;
        }
    }
    
    .glyphicon {
        font-size: 5em;
        margin-right: 0.5em;
    }
    
    .media-body {
        margin-left: 20px;
    }
    
    .home-block-list
    {
        width: 103.125%; /* 990px */
        margin-top: 3em;
        overflow: hidden;
    }
    
    .home-block
    {
        width: 46.876%; /* 305px */
        float: left;
        margin: 0 1.515% 1.875em; /* 15px 30px */
    }
     
    @media only screen and ( max-width: $screen-md )
    {
        .home-block-list
        {
            width: 100%;
            margin-left: 0;
        }
        
        .home-block
        {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.home-footer {
    margin: 0;
}
