#home {
  color: #FFFFFF;

  p {
    padding-top: 40px;
    font-style: italic;
  }

  margin-bottom: 0px;
}

.home-head {
  background-image: url(../images/church_blur.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  margin-top: -20px;

  .container {
    padding-top: 100px;
  }

  h1 {
    font-size: $font-size-base*5;
    font-weight: 800;
  }
}

.home-body {
  .container {
    width: 100%;
  }
}

.home-block {
  padding: 10% 20%;
  background-size: cover;
  background-position: 50%;
  p {
    font-size: $font-size-base*1.8;
  }
  h2 {
    font-size: $font-size-base*3;
  }
}

.greeting {
  background-image: url(../images/homepage/greeting.JPG);
}

.listening {
  background-image: url(../images/homepage/listening.JPG);
}

.building {
  background-image: url(../images/homepage/building.JPG);
}

.eating {
  background-image: url(../images/homepage/eating.JPG);
}