main {
    margin-top: 70px;
}

h1 {
    margin: $line-height-doubled 0%;
}

article {

    margin-top: 10px;
    
    .breadcrumb {
        padding: 0% 0% $line-height-computed 0%;
    }
    
    .header-container { // Headers of all cards have image backgrounds

    }
}

aside {
    margin-top: 15px;
    
    h4 {
        font-style: italic;
        text-align: center;
        line-height: $line-height-doubled;
    }
    
    .list-group-item { 
        border: none;
        background: none;
    }
    
    a {
        color: $text-color;
        &:hover {
            text-decoration: none;
        }
    }

}
