.references {
    font-size: $font-size-base;
    font-style: italic;
    text-align: right;
}

p, dd, address {
    font-family: $font-family-serif;
}

p.lead {
    font-family: $font-family-sans-serif;
}