.card {
    background-color: lighten($gray-lightest, 80%);
    box-shadow: 0px 0px 1px $gray-light;
    
    .header-container { // Headers of all cards have image backgrounds
        width: 119.047619%;
        margin-left: -9.5238095%;
        margin-top: 0;
        margin-bottom: $line-height-computed;
        background-image: url(../images/church_blur.jpg);
        background-size: cover;
        background-position: 50%;


        h1, h2, h3, h4, h5, h6 {
            padding-left: 9.5238095%;
            background-color:rgba(0,0,0,0.3);
            color: $gray-lightest;
            line-height: floor($line-height-doubled*1.5);
            margin: 0;
            font-weight: 900;
        }
    }
    
    h1 { // Used for article headers
        min-height: 200px;
        padding-top: 8%;
        padding-bottom: 8%;
    }
    
    padding: 0% 8% 8% 8%;

}

aside {

    a {
        color: $gray-lightest;
    }
    
    a:hover {
        color: $gray-lightest;
    }

    .read-more {
        text-align: right;
        font-style: italic;
        padding-top: 2%;

        a {
            color: $gray-darker;
        }
    }
}

.social_sharing {
    position: relative;
    float: right;
    top: -5px;
    font-size: floor($font-size-large*1.2);
}

.full-width {
    width: 119.047619%;
    margin-left: -9.5238095%;
    margin-top: 0;
    margin-bottom: $line-height-computed;
}

.meeting-details {
    margin-top: 3em;
    background-color: $brand-primary;
    color: white;
    padding: 3em;

    table {
        font-size: 2em;

        th {
            padding: 0em 1em;
        }
    }
}