.card {
  padding: 0% 8% 8% 8%;
  background-color: map-get($grays, 100);
  box-shadow: 0px 0px 1px map-get($grays, 300);

  .header-container { // Headers of all cards should have image backgrounds
    @include full-width-section;
    background-color: map-get($theme-colors, primary);
    background-size: cover;
    background-position: 50%;


    h1, h2, h3, h4, h5, h6 {
      color: map-get($grays, 200);
      line-height: map-get($spacers, 5);
      margin: 0;
      font-weight: 900;

      span {
        background-color: map-get($theme-colors, secondary);
        // For multi-line titles
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
      }
    }

    h3 {
      //for asides
      padding-left: map-get($spacers, 4);
    }

    h1 { // Used for article headers
      // min-height: 200px;
      // padding-top: 8%;
      // padding-bottom: 8%;
    }
  }
}

aside {

  a {
    color: map-get($grays, 200);
  }

  a:hover {
    color: map-get($grays, 200);
  }

  .read-more {
    text-align: right;
    font-style: italic;
    padding-top: map-get($spacers, 3);

    a {
      color: map-get($grays, 800);
    }
  }
}

.card-header-pull-right {
  float: right;
  font-size: floor($font-size-lg*1.2);

  .user-name {
    font-size: $font-size-base;
  }
}

.meeting-details {
  @include full-width-section;
  margin-top: floor(map-get($spacers, 4)*4);
  background-color: map-get($theme-colors, primary);
  color: white;
  font-size: 2em;
  th {
    padding: map-get($spacers, 3) map-get($spacers, 3);
    vertical-align: top;
  }
}

.edit-buttons {
  margin-left: map-get($spacers, 3);
}

.edit-buttons:before {
  content: none !important;
}

.edit-heading {
  background-color: map-get($theme-colors, secondary)-light;
  height: 100%;
  border: none;
  color: map-get($colors, white);
}

.edit-metadata {
  @include full-width-section;
  background-color: map-get($theme-colors, danger);
  color: white;
  input, select {
    background-color: lighten(desaturate(map-get($theme-colors, danger), 40%), 50%);
    border: none;
  }
  .row {
    padding-bottom: map-get($spacers, 4);
  }
}

.photo-selector {
  @include full-width-section;
  background-color: map-get($theme-colors, secondary);
  color: map-get($colors, white);
  img {
    width: 100%;
  }
  h2 {
    margin-bottom: map-get($spacers, 4);
  }
}
#rendered-content img {
  width: 100%;
}
.caption {
  background-color: map-get($theme-colors, primary);
  display: none;
  word-wrap: break-word;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin:0;
    padding:0;
}

.thumbnail:hover {
  .caption {
    display: block;
    color: map-get($colors, white);
  }
}

.main-content {
  p {
    img {
      max-width: 100%;
      @media (min-width: ($grid-breakpoints, sm)) {
        max-width: 50.1%;
        float: left;
        padding: map-get($spacers, 4) map-get($spacers, 3) map-get($spacers, 4) 0;
      }
    }
  }
  p:nth-of-type(2n) img {
    @media (min-width: ($grid-breakpoints, sm)) {
      float: right;
      padding-left: map-get($spacers, 4);
      padding-right: 0;
    }
  }
}
