.document-container {
  margin-top: floor($padding-large-vertical * 2);
  margin-bottom: $padding-large-vertical;
  margin-left: -9.5238095%;
  width: 119.047619%;
  min-height: floor($line-height-computed * 8);
  background-color: $gray-lighter;
}

.file {
  display: block;
  background-color: lighten($gray-lightest, 80%);
  text-align: center;
}

.document-icon {
  height: 1.25em;
  font-size: 5em;
  color: $brand-dark;
}

.document-sub-container {
  margin-left: $padding-base-horizontal;
  margin-right: $padding-base-horizontal;
}