.navbar-brand {
  padding: 12.5px;
  height: 1.4em;
  font-size: 1.4em;
  text-transform: none;
  img {
    margin-top: -7.5px;
    padding-right: 12.5px;
  }
}

// Remove border on collapsed nav

.navbar-collapse, .navbar-toggle {
  color: $gray-lightest;
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// Centre collapsed navs

.navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar-collapse {
  text-align: center;
  background-color: $brand-primary;
}