.navbar {
  height: 50px;
}

.navbar-brand {
  height: 50px;
  padding: 5px;
  img {
    height: 2em;
    padding-right: 12.5px;
  }
  @media (max-width: $screen-xs) {
    span {
      display: none;
    }
  }
}

// Remove border on collapsed nav

.navbar-collapse, .navbar-toggle {
  color: $gray-lightest;
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 24px;
  margin: 3px;
}

// Centre collapsed navs

.navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar-collapse {
  text-align: center;
  background-color: $brand-primary;
}