// Ensure correct padding for name

.navbar-brand {
  padding: 12.5px;
  height: 1.4em;
  font-size: 1.4em;
  text-transform: none;
  img {
    margin-top: -7.5px;
    padding-right: 12.5px;
  }
}

// Remove border on collapsed nav

.navbar-collapse, .navbar-toggle {
  border: $brand-primary;
  color: #fff;
  font-size: 0.8em;
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// Hide notch on mobile

.nav-notch {
  display: none;
}

// Centre collapsed navs

.navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar-collapse {
  text-align: center;
}

// Enable the notch to display

@media (min-width: $grid-float-breakpoint) {
  .navbar {
    border-bottom: none;
    height: 50px;
    background: none;
  }

  .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background: none;
  }

  // Notch image

  .nav-notch {
    display: inline;
    background: url(/images/nav-notch.png);  
    position: absolute;  
    top: -50px;  
    height: 100px;
    z-index: -1;
    width: 4000px;
    left: 50%;
    margin-left: -2000px;
  }

  // No-notch image

  .nav-no-notch {
    background: url(/images/nav-no-notch.png);  
    position: absolute;  
    top: -50px;  
    height: 100px;
    z-index: -1;
    width: 2500px;
    left: 50%;
    margin-left: -1250px;
  }

}


// Navbar background on non-categorised pages

.fixed-top-float {
    position: fixed;
    z-index: 1;
}
