main {
    margin-top: $padding-large-vertical + 25px;
    margin-bottom: floor($padding-large-vertical * 2);
}

article {
    margin-top: $padding-large-vertical;
}

aside {
    margin-top: $padding-large-vertical;

    h4 {
        font-style: italic;
        text-align: center;
        line-height: $line-height-doubled;
    }

    .list-group-item {
        border: none;
        background: none;
    }

    a {
        color: $text-color;
        &:hover {
            text-decoration: underline;
        }
    }

}
