audio {
    width: 100%;
}

.panel-heading {
  font-size: 0.75em;
}

.sermon-details {
  @include full-width-section;
  background-color: $brand-secondary;
  color: white;
  font-size: $font-size-large;
  a {
    color: inherit;
  }
}

.sermon-headings {
  padding-top: $padding-small-vertical;
}
