.references {
    font-size: $font-size-base;
    font-style: italic;
    text-align: right;
}

header {
    font-family: $headings-font-family;
    text-transform: uppercase;
}

h4, h5, h6 {
    font-family: $font-family-sans-serif;
}
