.meeting-details {
  @include full-width-section;
  margin-top: map-get($spacers, 4);
  background-color: map-get($theme-colors, primary);
  color: $white;
  font-size: 2em;
  th {
    padding: map-get($spacers, 3) map-get($spacers, 3);
    vertical-align: top;
  }
}
