.navbar-site-name {
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.main-nav {
  a {
    color: white;
    font-size: 2rem;
    line-height: 4rem;
    text-decoration: none;
  }
}

.main-nav-level-two {
  a {
    line-height: 2.5rem;
    font-size: 1.75rem;
    }
}

.navbar-toggler {
  border: none;
  line-height: 0.75rem;
  color: $white !important;
}
