.navbar-inner {
    .logo {
        background-clip: border-box;
        background-image: url(../images/logo--white.png);
        background-origin: padding-box;
        background-size: 55px;
        background-repeat: no-repeat;
        background-position: 2%, 50%;

        padding-left: 70px;
    }


}
